.root {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "footer footer footer footer footer";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #a7d3e0;
}

/* Main section (Cards) */
.css-p2urg6,
.css-c6vwei,
.css-1rt4icb {
  margin-right: 2rem;
}

/* Page headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a7cba;
}

.chakra-heading.css-1dklj6k,
.chakra-heading.css-1xlc358 {
  margin-bottom: 10px;
}

/* Text */
p {
  color: #1e3a78;
}

/* Card styles */
.chakra-card__body.css-1idwstw {
  background-color: #e0f4f7;
  border-radius: 0.375rem;
}

/* Buttons */
.chakra-button.css-ez23ye,
.chakra-button.css-x9ig9b,
.chakra-button.css-6fajlz {
  background-color: #3182ce;
  color: #ffffff;
}
.chakra-button.css-ez23ye:hover,
.chakra-button.css-x9ig9b:hover,
chakra-button.css-6fajlz:hover {
  background-color: #2b6cb0;
}

/* Input styles */
.chakra-input.css-168wxav {
  color: #1e3a78;
}

/* Modal styles */
.chakra-modal__content-container.css-1u2cvaz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-modal__header.css-9fgtzh {
  text-align: center;
}

.chakra-modal__footer.css-k0waxj {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This is for the amenities on create/edit property */
.checkbox-label {
  margin-left: 5px;
}

hr {
  border-color: #f2f2f2;
}
