* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.root {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header header header header header"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "nav main main main main"
    "footer footer footer footer footer";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Page headers */
.chakra-heading.css-1dklj6k {
  margin-bottom: 10px !important;
}

/* Icon styles */
.github-icon,
.linkedin-icon {
  color: #7d7d7d !important;
  width: 32px !important;
  height: 32px !important;
  margin: 10px 0px 0px 10px !important;
}

.linkedin-icon:hover {
  color: #0a66c2 !important;
  transition: 0.3s ease-in;
}

.github-icon:hover {
  color: #000 !important;
  transition: 0.3s ease-in;
}

.checkbox-label {
  margin-left: 5px !important;
}
